---
import Layout from "../layouts/Layout.astro";
import SoomaAccordion from "../components/Accordion.jsx";
import ContactForm from "../components/ContactForm.jsx";
---
<Layout title="SOOMA Consultores">
  <section class="mx-auto max-w-4xl px-4 py-12">
    <h1 class="mb-4 text-3xl font-bold">SOOMA Consultores</h1>
    <p class="mb-8 text-neutral-700">
      Misión, visión y servicios de consultoría y capacitación.
    </p>

    <!-- Isla React -->
    <SoomaAccordion client:visible />
  </section>

	<section class="mx-auto max-w-3xl px-4 py-12">
		<h2 class="mb-4 text-2xl font-semibold">Contacto</h2>
		<ContactForm client:load />
	</section>
</Layout>
